* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 10px;
  width: 100%;
  height: 110.69px;
  background: rgba(39, 169, 6, 0.2);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
}
nav .logo p img {
  width: 300px;
  height: 200.69px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .sema {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
  margin-top: 50px;

  width: 769px;

  background: rgba(39, 169, 6, 0.1);
  border-radius: 50px;
}
header h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.1em;
}
header h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.1em;
}
header button {
  padding: 10px 30px;
  gap: 20px;
  background: #27a906;
  border-radius: 48px;
  align-items: center;
  outline: none;
  border: none;
}
header button h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}
header button a:hover {
  text-decoration: none;
}
header .button button a i {
  width: 1rem;
  height: 1rem;
}
